<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.tests.loginTestRunner"/>
      <class name="com.tests.searchProductFromSearchBARAndAddToCartTestRunner"/>
      <class name="com.tests.searchProductByCategoryAndAddToCartTestRunner"/>
      <class name="com.tests.cartManagementTestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
